.footer {
  background-color: $color-black-russian;
  padding: 20px 0 30px;

  @include vp-1023 {
    padding: 30px 0;
  }

  @include vp-767 {
    padding: 40px 0 30px;
  }

  &__top {
    display: grid;
    grid-template-columns: 152px 1fr 155px;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid $color-white-10;
    padding: 0 0 17px;
    margin: 0 0 31px;

    @include vp-1023 {
      border: none;
      margin: 0 0 60px;
      padding: 0;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 20px;
      margin: 0 0 40px;
    }
  }

  &__logo {
    width: 152px;
    height: 44px;

    @include vp-767 {
      width: 112px;
      height: 32px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include vp-767 {
      gap: 5px;
      align-items: center;
    }
  }

  &__info-tel {
    color: $color-white;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.02em;

    &:hover, &:focus-visible {
      color: $color-deep-lilac;
      outline: none;
    }
  }

  &__info-description {
    color: $color-white-50;
    margin: 0;
    text-align: right;
    font-size: 13px;
    line-height: 16px;

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 195px 1fr 195px 160px;
    gap: 45px;
    margin: 0 0 10px;

    @include vp-1023 {
      display: flex;
      justify-content: space-between;
      margin: 0 0 30px;
    }

    @include vp-767 {
      flex-direction: column;
      align-items: center;
      gap: 33px;
      margin: 0 0 40px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include vp-1023 {
      display: none;
    }
  }

  &__subtitle {
    color: $color-white;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @include vp-767 {
      text-align: center;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    grid-template-columns: auto;
    gap: 7px;
  }

  &__nav-list--col-2 {
    grid-template-columns: repeat(2, auto);
    gap: 7px 65px;
  }

  &__nav-link {
    color: $color-white-50;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;

    &:hover, &:focus-visible {
      color: $color-white;
      outline: none;
    }
  }

  &__payment {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__payment-list {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;

    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__payment-icon {
    width: 56px;
    height: 56px;
    flex-shrink: 0;

    @include vp-767 {
      width: 48px;
      height: 48px;
    }
  }

  &__apps-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 5px;

    @include vp-1023 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px 15px;

      & li:nth-child(2) {
        order: 3;
      }

      & li:nth-child(4) {
        order: 4;
      }
    }
  }

  &__apps-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;

    @include vp-1023 {
      align-items: center;
    }
  }

  &__language-link {
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover, &:hover .footer__language-name, &:focus-visible, &:focus-visible .footer__language-name {
      outline: none;
      color: $color-white;
    }
  }

  &__language-icon {
    width: 54px;
    height: 40px;
    flex-shrink: 0;

    @include vp-767 {
      width: 44px;
      height: 32px;
    }
  }

  &__language-name {
    color: $color-white-50;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__copyright {
    color: $color-white-50;
    font-size: 13px;
    line-height: 16px;
    margin: 0;

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
