.header {
  padding: 20px 0;
  background-color: $color-white;

  @include vp-767 {
    padding: 10px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include vp-767 {
      align-items: center;
    }
  }

  &__logo-link {
    width: 140px;
    height: 40px;

    @include vp-767 {
      width: 112px;
      height: 32px;
    }
  }

  &__btn-wrapper {
    display: flex;
    gap: 20px;

    @include vp-767 {
      gap: 15px;
    }
  }

  &__burger,
  &__favorites {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @include vp-767 {
      width: 36px;
      height: 36px;
    }
  }

  &__favorites-icon {
    width: 22px;
    height: 20px;
    fill: $color-white;
    color: $color-nero;

    @include vp-767 {
      width: 20px;
      height: 18px;
    }
  }

  &__burger-icon {
    width: 36px;
    height: 14px;
    color: $color-white;

    @include vp-767 {
      width: 36px;
      height: 36px;
    }
  }
}
