.info-block {
  border-radius: 20px;
  background: $color-white;
  padding: 20px;
  display: flex;
  flex-direction: column;

  @include vp-767 {
    padding: 15px;
  }

  &__cards-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 0 10px;

    @include vp-1023 {
      grid-template-columns: 1fr;
    }
  }

  &__btn {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    gap: 12px;
    margin: 0 0 5px;

    @include vp-767 {
      font-size: 16px;
      line-height: 20px;
    }

    svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }
  }

  &__text {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    @include vp-767 {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__description {
    color: $color-nero-50;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    text-align: center;
  }
}
