.memo-nav {
  padding: 24px;
  border-radius: 20px;
  border: 1px solid $color-quartz;

  @include vp-1023 {
    padding: 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 13px;

    @include vp-1023 {
      margin: 0 0 6px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 20px;

      margin: 0 0 9px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 12px;

    @include vp-1023 {
      gap: 7px;
    }

    @include vp-767 {
      gap: 10px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 20px;

    &:hover, &:focus-visible {
      color: $color-deep-lilac;
      outline: none;
    }

    @include vp-767 {
      font-size: 13px;
      line-height: 16px;

      display: -webkit-box;
    }
  }
}
