.project-index {
  
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 12px;

    padding: 24px;
    border-radius: 20px;
    border: 1px solid $color-quartz;

    @include vp-1023 {
      gap: 7px;
    }

    @include vp-767 {
      gap: 10px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 20px;

    &:hover, &:focus-visible {
      color: $color-deep-lilac;
      outline: none;
    }

    @include vp-767 {
      font-size: 13px;
      line-height: 16px;

      display: -webkit-box;
    }
  }
}