.safety {
  margin: 0 0 50px;

  @include vp-1023 {
    margin: 0 0 30px;
  }

  @include vp-767 {
    margin: 0 0 23px;  
  }

  &__wrap {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 650px 290px;
    gap: 80px;
    margin: 0 0 60px;

    @include vp-1023 {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    @include vp-767 {
      gap: 28px;
      margin: 0 0 40px;
    }
  }

  &__nav {
    justify-self: end;
    display: grid;
    gap: 18px;
    align-content: start;

    @include vp-1023 {
      grid-template-columns: repeat(2, calc((100% - 15px) / 2));
      justify-self: unset;
    }

    @include vp-767 {
      gap: 15px;

    }

    .safety__btn {
      width: 100%;

      @include vp-1023 {
        grid-column: span 2;
      }

      @include vp-767 {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  &__nav-img {
    width: 290px;
    height: 200px;
    border-radius: 20px;

    @include vp-1023 {
      display: none;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 20px;

    @include vp-1023 {
      font-size: 26px;
      line-height: 30px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
      margin: 0 0 14px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 20px;

    @include vp-767 {
      font-size: 13px;
      line-height: 16px;
      margin: 0 0 15px;
    }
  }

  &__text--bold {
    font-weight: 700;

    @include vp-767 {
      font-weight: 600;
    }
  }

  &__title-cite {
    color: $color-black;
    font-size: 18px;
    margin: 0 0 7px;
    line-height: 24px;

    @include vp-767 {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__list {
    margin: 0;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 7px;

    @include vp-767 {
      gap: 4px;
    }
  }

  &__item {
    .safety__text {
      margin: 0;
    }
  }
}
